/* .box1{
    background-color: chocolate;
    margin: 20px 0 20px ;
}
.box2{
    background-color: cornflowerblue;
    margin: 20px 0 20px ;
}
.box3{
    background-color: cyan;
    margin: 20px 0 20px ;
} */

/* gap vran margin padding eg : flipcart page 
oro div il ninnu space nokkn*/

/* .box1{ */
    /* margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px; */

    /* margin: 20px 20px 20px 20px; */
    /* margin: 20px; */

    /* margin: 20px        50px;  */
            /* top/ botom    left/right */

     /* margin:20px 50px 30px ; */
         /* top, right, bottom  left=50px */

         /* margin: 20px 0 20px ; */
/* } */

/* .box2{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
} */
/* .box3{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
} */



/* =>padding
 elementil apply akunnth
 4 value top right bottom left
 padding apply chyubol div nte height  kudum */

 /* .box1{
    padding: 20px;
 }
 .box2{
    padding: 30px;

 }
 .box3{
    padding: 50px;
 } */


 /* padding div akath, margin div purth */


 .box1{
    background-color: aqua;
   /* margin: 20px 20px 50px 80px; */
   /* margin: 70px 80px; */
   /* margin: 50px; */
   /* margin: 20px 10 10px; */
   
   

          /* top right bottom left */
                /* 80px=left */
                /* 50=bottom */




 }
 .box2{
    background-color:darkmagenta;
    padding: 50px;
    margin: 60px;
 }
 .box3{
    background-color: gold;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 20px;
 }

 .box4{
    background-color: chartreuse;
    width: 1500px;
    height: 1400px;
    margin: 10px  auto;
 }

 