button:hover
{
    background-color: aqua;
}
p:hover
{
    font-size: 25px;
}
input:focus
{
    background-color: rgb(172, 165, 165);
    border: 1px solid rgb(182, 74, 74);
}
div p:first-child
{
    color:aliceblue;
    background-color: black;
    padding: 15px;
}
p:last-child
{
    background-color: aquamarine;

}
p:nth-child(even)
{
    background-color: blueviolet;
    color: darkseagreen;
}
p::first-letter
{
    color:Red;
    font-size: large;
}
p::selection
{
    background-color: darkorange;
}
p::after
{
    content: "Welcome";
}
p::before
{
    content: "hai";
}

